.logo{
    display:grid;
    grid-template-columns:auto auto;
    width:max-content;
    align-content:center;
}
.logo:hover{
    cursor:pointer;
}
.logo img{
    height:30px;
    align-self:center;
}
.logo h1{
    font-size:1.7rem;
    font-weight:400;
    margin-left:0.5rem;
}
.headerContainer{
    position:fixed;
    width:100%;
}
.header{
    max-width:1200px;
    margin:auto;
    /* border:1px solid rgb(210, 210, 210); */
    /* padding:0.5rem 1rem; */
    padding:0.6rem 0rem;
    display:grid;
    grid-template-columns:auto auto;
    justify-content:space-between;
}
.header > span{
    display:grid;
    display:-ms-grid;
    display:-moz-grid;
    grid-template-columns: max-content max-content;
    align-content:center;
}
.header{
    grid-template-columns:auto auto;
    justify-content:space-between;
}
.header > span > button{
    background-color:rgba(0, 0, 0, 0);
    border:none;
    align-self:center;
    border:1px solid transparent;
    padding:2px 4px 0px 4px;
    border-radius:50%;
}
.header > span > button:hover{
    border-color:rgb(90, 90, 90);
    cursor:pointer;
}
.icons{
    display:grid;
    grid-template-columns:max-content max-content;
}
.icon{
    margin:0rem 1rem;
    align-self:center;
}
.icon img{
    height:30px;
}
.icon_user img{
    border:1px solid black;
    border-radius:15px;
}